@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Raleway:wght@300;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: raleway, "sans-serif";
  scroll-behavior: smooth;
  transition: all 350ms ease;
}

:root {
  --blue: #3b8ebd;
  --green: #85c537;
  --orange: #f14624;
  --white: rgb(240, 240, 240);
  --black: #272727;
  --text_normal: 1rem;
  --text_big: 1.8rem;
  --text_small: 0.8rem;
}
h1 {
  font-size: var(--text_big);
}
a {
  text-decoration: none;
}
p {
  font-size: var(--text_normal);
  line-height: 30px;
}

body {
  width: 100vw;
  height: 100vh;
}
header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 300000;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 10px 10px 30px #01101abd;
  backdrop-filter: blur(5px);
}
header img {
  width: 80px;
  height: 80px;
  z-index: -2;
}
.menu_button {
  width: 40px;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
}
.menu_button section {
  width: 80%;
  height: 3px;
  background: #001a2b;
  border-radius: 12px;
}

.menu_button section:nth-child(1) {
  width: 30%;
}
.menu_button section:nth-child(2) {
  width: 50%;
}
.menu_button section:nth-child(3) {
  width: 30%;
}
.hero {
  width: 100%;
  height: calc(100svh - 100px);
  position: relative;
}
.hero .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0a26368e;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  backdrop-filter: blur(5px);
  color: white;
  padding: 20px;
}
.hero > section {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.hero > section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero h1 {
  margin-bottom: 30px;
  background: linear-gradient(270deg, var(--orange), var(--green), var(--blue));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
.hero .cta {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.hero .cta a {
  padding: 15px;
  text-decoration: none;
  font-size: var(--text_small);
  border: 1px solid var(--white);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 140px;
}
.hero .cta a:first-child {
  background: var(--blue);
  border: 1px solid var(--blue);
}
.hero .socials {
  width: 90%;
  height: 50px;
  background: var(--white);
  filter: drop-shadow(0 0 15px var(--black));
  position: absolute;
  bottom: -25px;
  left: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.readmore {
  width: 100%;
}
.readmore div {
  padding: 10%;
}
.readmore div:nth-child(1) {
  background: #b68a3881;
  padding-top: 100px;
}
.readmore div:nth-child(1) h1 {
  color: #52390ef6;
}
.readmore div p {
  color: #01101a;
  margin-block: 30px;
}
.readmore div:nth-child(2) {
  background: #3b8dbd31;
}
.readmore div:nth-child(2) h1 {
  color: #031824;
}
.readmore div:nth-child(3) {
  background: #f1462485;
}
.readmore div:nth-child(3) h1 {
  color: #3f0e02d8;
}
.readmore a {
  background-color: white;
  color: #f14624;
  padding: 10px;
}
.events .event {
  width: 100%;
}

.events .event img {
  width: 100%;
}
