@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Raleway:wght@300;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: raleway, "sans-serif";
  scroll-behavior: smooth;
  /* transition: all 300ms ease; */
}
body {
  background: whitesmoke;
}
:root {
  --blue: #3b8ebd;
  --green: #85c537;
  --orange: #f14624;
  --white: rgb(240, 240, 240);
  --black: #272727;
  --text_normal: 1rem;
  --text_big: 1.8rem;
  --text_small: 0.8rem;
}
h1 {
  font-size: var(--text_big);
}
a {
  text-decoration: none;
  font-size: var(--text_small);
  text-transform: uppercase;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
p {
  font-size: var(--text_normal);
  line-height: 30px;
}

body {
  width: 100vw;
  height: 100vh;
}
header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 300000;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}
header img {
  width: 80px;
  height: 80px;
  z-index: -2;
}
.menu_button {
  width: 40px;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
}
.menu_button section {
  width: 80%;
  height: 3px;
  background: #001a2b;
  border-radius: 12px;
}

.menu_button section:nth-child(1) {
  width: 30%;
}
.menu_button section:nth-child(2) {
  width: 50%;
}
.menu_button section:nth-child(3) {
  width: 30%;
}
.hero {
  width: 100%;
  height: calc(100svh - 100px);
  position: relative;
}
.hero .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #001a2b9c;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  backdrop-filter: blur(5px);
  color: white;
  padding: 20px;
}
.hero > section {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.hero > section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
.hero h1 {
  margin-bottom: 30px;
  background: linear-gradient(70deg, var(--orange), var(--green), var(--blue));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
.hero .cta {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.hero .cta a {
  text-decoration: none;
  font-size: var(--text_small);
  border: 1px solid var(--white);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.hero .cta a:first-child {
  background: var(--blue);
  border: 1px solid var(--blue);
}
.title h3 {
  width: 90%;
  height: 50px;
  background: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: -25px;
  left: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.readmore {
  width: 100%;
}
.readmore div {
  padding: 20px;
}
.readmore div:nth-child(1) {
  background: #b68a3881;
  padding-top: 100px;
}
.readmore div:nth-child(1) h1 {
  color: #52390ef6;
}
.readmore div p {
  color: #01101a;
  margin-block: 30px;
}
.readmore div:nth-child(2) {
  background: #3b8dbd31;
}
.readmore div:nth-child(2) h1 {
  color: #031824;
}
.readmore div:nth-child(3) {
  background: #f1462485;
}
.readmore div:nth-child(3) h1 {
  color: #3f0e02d8;
}
.readmore a {
  background-color: rgb(182, 120, 120);
  color: white;
}
.events {
  padding-top: 30px;
  padding-inline: 20px;
}
.events h2,
.volunteers h2 {
  color: var(--black);
  padding-bottom: 0px;
  text-transform: capitalize;
}

.volunteers {
  padding: 20px;
  margin-bottom: 30px;
}
.volunteers h1 {
  margin: 0px;
}
.volunteer {
  width: 100%;
  position: relative;
  margin-block-end: 30px;
}
.volunteer section {
  position: absolute;
  top: 0;
  left: 90px;
  color: var(--black);
}
.volunteer img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--black);
  padding: 4px;
}
.volunteers a {
  background: var(--blue);
  color: white;
}
/* event card */
.event-card {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-block: 40px;
}
.event-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.event-details {
  padding: 20px;
}

.event-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--black);
}
.event-date {
  color: #555;
  margin-bottom: 10px;
}
.event-description {
  color: #333;
  line-height: 1.6;
}
.event-button {
  display: block;
  text-align: center;
  background-color: var(--blue);
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.copyright {
  text-align: center;
  background-color: var(--black);
  padding: 10px 0;
  color: white;
}
.copyright small {
  opacity: 0.5;
  color: white;
}
.copyright a {
  color: var(--blue);
}
body::-webkit-scrollbar {
  width: 0.5em;
  background-color: #f9f9f9;
}

body::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  outline: 1px solid var(--blue);
  border-radius: 20px;
}
.social_media {
  background: var(--black);
}
.social_media h1 {
  margin: 0px 0 0 20px;
  padding-top: 20px;
  color: var(--orange);
  font-size: var(--text_normal);
}
.social_media ul {
  display: flex;
  justify-content: space-evenly;
  padding-block: 30px;
  background-color: var(--black);
  margin-top: 0px;
}
.social_media ul li {
  list-style: none;
}
.social_media ul li a {
  color: white;
  background: var(--orange);
  font-size: 1.2rem;
  border-radius: 20px;
}
.Newsletter {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: var(--black);
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  height: 55px;
  border: 1px solid var(--black);
}
input:focus {
  outline: 1.5px solid var(--blue);
  border: 0;
}

button {
  background-color: var(--blue);
  color: #fff;
  padding: 15px;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 40%;
}

button:hover {
  background-color: #2980b9;
}

#confirmationMessage {
  margin-top: 20px;
}
